body {
    margin: 0;
    text-align: center;
    color: white;
}


.container {
    display: flex;
    justify-content: space-around;
    background-color: #4a2e1b;
    width: 600px;
    height: 350px;
    margin: 20px auto 5px auto;
    border-radius: 10px;
    border: 4px solid #080001;

}


.home, .guest{

    margin: 5px 20px 5px 20px;
    width: 300px;
}

#foul-el, #fouls-el{
    font-size: 25px;
}

.para{
    margin: 5px 1px ;
    font-size: 25px;
}
h3{
    font-size: 35px;
    margin: 10px 0px 5px 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#point-el{
    font-size: 100px;
    margin: 10px auto 10px auto;
    color: #F94F6D;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 10px 5px 0px 5px;
    border-radius: 7px;
    width: 150px;

}


#points-el{
    font-size: 100px;
    margin: 10px auto 10px auto;
    color: #F94F6D;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 10px 5px 0px 5px;
    border-radius: 7px;
    width: 150px;
}

button{
    border: 1px solid white;
    background-color: #1B244A;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Cursed Timer ULiL', sans-serif;                                  
    color: white;
    padding: 7px 8px 4px 8px;
    margin-left: 5px;
}

button:hover{
    color: green;
}




#homesave-btn{
    margin-top: 6px;
}

#guestsave-btn{
    margin-top: 6px;
}

#home-save, #guest-save{
    text-align: left;
    margin-top: 10px;
}

/**#reset-btn{
    padding: 10px 6px 5px 5px;
    margin: 30px auto 30px auto;
    font-size: 50px;
    border: 3px solid rgb(41, 7, 7);
    background-color: #31a12d;